<h1>Clientes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Película</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.movies.any? ? customer.movies.first.title : "No asignado" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Agregar Nuevo Cliente", new_customer_path, class: "btn btn-primary" %>
new.htm